:root {
  --main-font: "Poppins", sans-serif;
  --light-color: whitesmoke;
  --medium-color: #d2dadb;
  --dark-color: rgb(44, 61, 64);
}

body {
  font-family: var(--main-font);
  background-color: var(--dark-color);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/heroNY.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-color);
  padding: 200px 0;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: var(--light-color);
  color: var(--dark-color);
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin-top: 32px;
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: var(--light-color);
}

main h2 {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.5;
  text-align: center;
  text-transform: uppercase;
}

main h3 {
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

main h4 {
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main h5 {
  color: var(--dark-color);
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main p {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

section.secondary {
  background: var(--medium-color);
  max-width: 1400px;
}

footer {
  color: var(--light-color);
  background-image: linear-gradient(
      rgba(44, 61, 64, 0.8),
      rgba(44, 61, 64, 0.8)
    ),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}

footer a {
  color: var(--light-color);
  opacity: 0.7;
}

footer a:hover {
  color: var(--light-color);
  opacity: 1;
}

.btn {
  background-color: var(--dark-color);
  color: var(--light-color);
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.card {
  background-color: var(--light-color);
  border-radius: 15px;
  margin: 30px 0;
}

.card-body {
  padding: 32px;
}

.card-footer {
  padding: 20px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.garlic {
  max-width: 60px;
  display: block;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 70px;
  padding: 15px;
}

.grid-3-col-with-1-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-even-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.img-responsive {
  border-radius: 15px;
  display: block;
  max-width: 100%;
  margin-top: 40px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .garlic {
    max-width: 35px;
  }
}
