:root {
  --main-font: "Poppins", sans-serif;
  --light-color: whitesmoke;
  --dark-color: rgb(44, 61, 64);
}

body {
  font-family: var(--main-font);
  background-color: var(--dark-color);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/heroNY.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-color);
  padding: 200px 0;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: var(--light-color);
  color: var(--dark-color);
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin-top: 32px;
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  color: var(--light-color);
  background-image: linear-gradient(
      rgba(44, 61, 64, 0.8),
      rgba(44, 61, 64, 0.8)
    ),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}
footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: var(--light-color);
  opacity: 0.7;
}

footer a:hover {
  color: var(--light-color);
  opacity: 1;
}

.garlic {
  max-width: 60px;
  display: block;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 14px;
  }

  .garlic {
    max-width: 35px;
  }
}
